<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794077588383-4csmj5um8471nvjs9o2npjph6mc9ha80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794077588383-4csmj5um8471nvjs9o2npjph6mc9ha80</string>
	<key>API_KEY</key>
	<string>AIzaSyCYIkwUImbwfx8OpmVrdsNIQhNT2WDjN2U</string>
	<key>GCM_SENDER_ID</key>
	<string>794077588383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-isil.CaraLibro</string>
	<key>PROJECT_ID</key>
	<string>caralibro-32d00</string>
	<key>STORAGE_BUCKET</key>
	<string>caralibro-32d00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794077588383:ios:33cd0c4106768164b96baa</string>
</dict>
</plist>