<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001481659382-smmimlneog27fijs7he56gjb4rk9ig1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001481659382-smmimlneog27fijs7he56gjb4rk9ig1r</string>
	<key>API_KEY</key>
	<string>AIzaSyBh2TDAopZmt6F3-GhI5KZu9B_-PNCFsh8</string>
	<key>GCM_SENDER_ID</key>
	<string>1001481659382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-isil.CaraLibro</string>
	<key>PROJECT_ID</key>
	<string>caralibrodos</string>
	<key>STORAGE_BUCKET</key>
	<string>caralibrodos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001481659382:ios:55c70f2a92a18f3ca25dd7</string>
</dict>
</plist>